* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

body {
	background-color: rgb(234, 237, 237);
}

button {
	outline: none;
	border: none;
}

ul li{
	list-style: none;
}

.top-nav {
	background-color: #232f3e;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	text-align: center;
	z-index: 999;
}

.second-nav {
	width: 100%;
	height: 40px;
	background-color: #131921;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 12px;
	z-index: 999;
}

.second-nav ul {
	width: 35%;
	display: flex;
	color: #fff;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	list-style: none;
	z-index: 999;
}

.top-nav a,
.top-nav .item,
.top-nav .fas,
.second-nav a {
	color: #FFFF;
}

.top-nav a:hover,
.top-nav span:hover,
.top-nav span li a:hover,
.second-nav a:hover {
	text-decoration: none;
	color: #fa8900;
}

.top-nav .item {
	margin-left: 30px;
}


.second-nav li {
	font-size: 20px;
	font-weight: 500;
}

.top-nav .item{
	font-size: 15px;
	font-weight: 500;
}

.top-nav img {
	width: 150px;
	height: 30px;
	filter: invert(100%);
}

.top-nav form {
	width: 50%;
}

.top-nav .nav-form input {
	width: 80%;
	border: none;
	outline: none;
	padding: 0 15px;
	height: 35px;
	border-radius: 3px 0 0 3px;
	background-color: rgb(230, 223, 223);
}

.top-nav .nav-form button {
	border: none;
	padding: 6px 15px;
	background-color: rgb(14, 163, 14);
	color: #fff;
	margin-left: -4px;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}

.top-nav-items .chart{
	position: relative;
}

.top-nav-items .item{
	cursor: pointer;
	display: inline-block;
	position: relative;
}

.top-nav-items .item span{
	padding: 30px 0;
}

.top-nav-items .submenu {
	position: absolute;
	width: 200px;
	left: -40px;
	top: 50px;
	background-color: #FFF;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 5px;
	padding: 10px;
	text-align: left;
	display: none;
}



@media (min-width:1025px){
  .top-nav-items .item span:hover > .submenu{
	display: block;
	animation: slide 0.2s ease-in;
}
}

@keyframes slide {
	0%{
		opacity: 0;
		transform: translateY(18px);
	}

	100%{
		opacity: 1;
		transform: none;
	}
}

.top-nav-items .submenu li a{
	color: #000;
}

.top-nav-items .submenu li{
	line-height: 30px;
}

.top-nav-items .chart .chart_number{
	position: absolute;
	top: -2px;
	left: 45%;
	background-color: #FB641B;
	border-radius: 50%;
	padding: 0 7px;
}

.burger {
	position: absolute;
	left: 15px;
	top: 75px;
	height: 35px;
	width: 45px;
	cursor: pointer;
	z-index: 999;
	display: none;
}

.burger div {
	width: 35px;
	height: 2.8px;
	background-color: #fff;
	margin: 8px 6px;
	text-align: center;
	transform: rotate(360deg);
	transition: transform .5s ease;
}

.second-nav.active {
	transform: translateY(0.5%);
}

.prev-button,
.next-button {
	color: #000000;
	background-color: rgb(255, 255, 255);
	border-radius: 3px;
	padding: 8px;
}

.carousel-item img {
	width: 100% !important;
	height: 60vh;
	background-size: cover;
	background-repeat: no-repeat;
	animation: slid-img .5s ease-in-out;
}

@media (max-width: 1024px) {
	.top-nav {
		padding: 17px 15px;
		height: 135px;
		justify-content: space-between;
		align-items: flex-start;
	}

	.top-nav-items .item span{
		padding: 10px 0;
	}

	.top-nav-items .submenu {
		text-align: center;
	}

	.top-nav-items .submenu.active{
		animation: slide .2s ease-in-out;
		display: block;
	}

	.top-nav .item {
		font-size: 15px;
	}

	.burger {
		display: block;
	}

	.top-nav form {
		position: absolute;
		top: 80px;
		right: 5px;
		width: 80%;
	}

	.second-nav {
		height: 50vh;
		position: absolute;
		display: block;
		transform: translateX(-150%);
		transition: transform 0.5s ease-out;
	}

	.active .line1 {
		transform: rotate(-45deg) translate(-9px, 6px);
	}
	.active .line2 {
		opacity: 0;
	}
	.active .line3 {
		transform: rotate(45deg) translate(-9px, -6px);
	}

	.second-nav ul {
		display: inline-block;
		text-align: center;
		margin-top: 25px;
	}

	.second-nav ul li {
		line-height: 50px;
		font-size: 1.4rem;
		font-weight: 600;
	}
}

@media (max-width: 786px) {
	.search {
		display: none;
	}
}

.top-nav-items .chart .chart_number{
	top: -8px;
	left:40%;
	padding: 0 6px;
}

.card_section {
	margin: 30px 17px;
}

.product_section{
    display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 1.5em;
}

.card_section .card_items {
	width: 100%;
	border-radius: 3px 3px 0 0;
	transition: .2s ease-in-out;
	margin-bottom: 20px;
}

.card_section .card_items:hover {
	transform: translateY(-5px);
}

.card_section .card_items img {
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: 3px 3px 0 0;
}

.card_section .card_items .img{
	position: relative;
	/* overflow: hidden; */
}

.card_items .discount{
	position: absolute;
	top: 5px;
	left:5px;
	text-align: center;
    padding: 5px 10px;
	border-radius: 3px;
	color: #FFF;
	background-color: #ff9f00;
	background-color: #FF0000;
}

.card_items .content {
	padding: 5px 0px;
}

.card_items .price {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 5px;
	font-size: 1rem;
	font-weight: 700;
}

.card_items .price p {
	margin-bottom: 2px;
}

.card_items .price .selling_price {
	color: #000;
	margin-right: 20px;
}

.card_items .price .original_price {
	color: #0a4a4d;
	text-decoration: line-through;
}

.card_items .p_name {
	color: #454550;
}

.card_items .add_to_cart_buy_now{
	text-align: center;
}

.card_items .add_to_cart_buy_now .add_to_cart a {
	background-color: #ff9f00;
	color: #FFFF;
	padding: 10px 8px;
	border-radius: 5px;
	transition: .2s ease-in;
}

.card_items .add_to_cart_buy_now .add_to_cart a:hover {
	background-color: #FB641B;
}

.header{
	margin:30px 0 15px;
	display: flex;
	justify-content: space-between;

}

.header h3{
	border-bottom: 2px solid red;
	padding-bottom: 5px;
}

.swiper-pagination{
	position: static;
}

.swiper-pagination-fraction{
	width: auto;
	bottom: 0;
}

.swiper-button-prev{
	left: -2px;
}

.swiper-button-next{
	right: -2px;
}

.swiper-button-next, .swiper-button-prev{
	background-color: #FFFF;
	color: #000;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	padding: 35px 20px;
}

@media (max-width: 1124px) {
	.product_section {
		grid-template-columns: repeat(4, 1fr);
	}
	.card_section img {
		height: 140px;
	}
}

@media (max-width: 786px) {
	.product_section {
		grid-template-columns: repeat(3, 1fr);
	}

	.card_items .price {
	   font-size: 14px;
   }

   .card_items .price .selling_price {
	  margin-right: 6px;
   }

   .card_section .card_items img {
		height: 140px;
	}

    .swiper-button-next, .swiper-button-prev{
		display: none;
     }
}

@media (max-width: 576px) {
	.product_section {
		grid-template-columns: repeat(2, 1fr);
	}

	.card_section {
		margin: 20px 17px;
	}

	.card_items .price {
	   font-size: 11px;
   }

   .card_section .card_items img {
		height: 120px;
	}

   .card_items .price .selling_price {
	   margin-right: 6px;
    }
}

.catagorie_grid{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-gap: 0.5em;
}

.catagorie{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transition: .2s ease-in-out;
	color: #000;
	font-weight: 600;
}

.catagorie:hover{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
	            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
				rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	transform: translateY(-4px);
}

.catagorie_content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 15px;
	cursor: pointer;
}

.catagorie_text{
	margin: 3px 5px 0  10px;
}

.catagorie_content .catagorie_img img{
	width: 50px;
	height: 50px;
	border-radius: 5px;
}

@media (max-width:1024px){
	.catagorie_grid{
		grid-template-columns: repeat(4,1fr);
	}
}

@media (max-width:786px){
	.catagorie_grid{
		grid-template-columns: repeat(2,1fr);
	}
}

@media (max-width:576px){
	.catagorie_grid{
		grid-template-columns: repeat(1,1fr);
	}
}

