<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="order.css">
    <!-- <link rel="stylesheet" href="../crousel-and-navbar/crousel/gallery.css">
    <link rel="stylesheet" href="../crousel-and-navbar/crousel/add.css"> -->
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <div class="top-nav">
            <div class="logo">
                <a href="" class="logo"><img src="img/logo-removebg-preview.png" alt=""></a>
            </div>
            <form action="" class="nav-form">
                <input type="text" name="" id="" placeholder="Search...">
                <button type="search"><i class="fas fa-search"></i> <span class="search"> search</span></button>
            </form>
            <div class="top-nav-items d-flex">
                <a class="item" href="">Signin</a>
                <div class="chart">
                    <a class="item" href=""><i class="fas fa-cart-plus"></i> Chart</a>
                    <small class="chart_number">2</small>
                </div>
            </div>
        </div>
    </nav>
    <nav class="second-nav">
        <ul>
            <li class="nav-items"><a href="">Home</a></li>
            <li class="nav-items"><a href="">About</a></li>
            <li class="nav-items"><a href="">Contact Us</a></li>
            <li class="nav-items"><a href="">Your order</a></li>
        </ul>
    </nav>

    <div class="orders mt-4">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">My Account</a></li>
                    <li class="breadcrumb-item"><a href="#">My Orders</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Order Details</li>
                </ol>
            </nav>
            <div class="heading mb-2">
                <h3>Order Details</h3>
            </div>
            <div class="card">
                <div class="order_details_section">
                    <div class="order_num order_on mt-3">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <p><b>Order # 123456799256</b></p>
                            </div>
                            <div class="order_on col-lg-6 col-sm-12 text-lg-right">
                                <p><b>Expected Delivery</b></p>
                            </div>
                        </div>

                    </div>
                    <div class="order_on">
                        <p><b>Ordered on 08 march 2021</b></p>
                    </div>
                    
                    <div class="order_status">
                        <p id="order_in_mobile">Click here check Status <i id="icon" class="fas fa-angle-up"></i></p>

                        <div class="progressbar-track" id="ss">
                            <ul class="progressbar">
                                <li class="step-2">Ordered <span>22/05/2021</span></li>
                                <li class="step-1">Packed <span>22/05/2021</span></li>
                                <li class="step-3">Shipped <span>22/05/2021</span></li>
                                <li class="step-4">Out for Delivery <span>22/05/2021</span></li>
                                <li class="step-5">Delivered <span>22/05/2021</span></li>
                                <li class="step-6 cancel">Canceled <span>22/05/2021</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ship_details">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <h5>Shipping Address</h5>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <h5>Payment Method</h5>
                                <p>Cash on Delivery (COD)</p>
                            </div>
                            <div class="col-lg-4 col-sm 12 ">
                                <div class="order_summary">
                                    <h5>Order Summary</h5>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Item(s) Subtotal:</p>
                                            <p>Shipping:</p>
                                            <p>Tax:</p>
                                            <p>Total:</p>
                                            <p><b>Grand Total:</b></p>

                                        </div>
                                        <div class="col-6">
                                            <p>Rs. 200000.00</p>
                                            <p>Rs. 300.00</p>
                                            <p>Rs. 300.00</p>
                                            <p>Rs. 200600.00</p>
                                            <p><b>Rs. 200600.00</b></p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="ship_product_details">
                        <div class="ship_product_item">
                            <div class="row">
                                <div class="col-lg-8 col-sm-12">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="pl-1 ship_img">
                                                <img src="1.jpg" alt="" width="50">
                                            </div>
                                        </div>
                                        <div class="col-10">
                                            <div class="col-10">
                                                <p style="margin-bottom: 0;">saman hai</p>
                                                <!-- @if ($Product->discount == '')
                                            <small class="warninng">&#8377; {{ $Product->unit_price }}</span>&nbsp; x &nbsp;{{ $qty != 0 ? $qty : $Product->qty
                                                }}</small>
                                            @else
                                            <small class="warninng">&#8377; {{ $Product->discounted_price }}&nbsp;&nbsp; <span><del>&#8377; {{
                                                        $Product->unit_price }}</del></span>&nbsp; x &nbsp;{{ $qty != 0 ? $qty : $Product->qty }}</small>
                                            @endif -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-12 mb-3 mt-4 write_review text-center">
                                    <p><a href="#" class="review">Write a product review</a></p>
                                    <p><a href="#" class="review">Cancel Order For this Product</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ship_product_details">
                        <div class="ship_product_item">
                            <div class="row">
                                <div class="col-lg-8 col-sm-12">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="pl-1 ship_img">
                                                <img src="1.jpg" alt="" width="50">
                                            </div>
                                        </div>
                                        <div class="col-10">
                                            <div class="col-10">
                                                <p style="margin-bottom: 0;">saman hai</p>
                                                <!-- @if ($Product->discount == '')
                                            <small class="warninng">&#8377; {{ $Product->unit_price }}</span>&nbsp; x &nbsp;{{ $qty != 0 ? $qty : $Product->qty
                                                }}</small>
                                            @else
                                            <small class="warninng">&#8377; {{ $Product->discounted_price }}&nbsp;&nbsp; <span><del>&#8377; {{
                                                        $Product->unit_price }}</del></span>&nbsp; x &nbsp;{{ $qty != 0 ? $qty : $Product->qty }}</small>
                                            @endif -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-12 mb-3 mt-4 write_review text-center">
                                    <p><a href="#" class="review">Write a product review</a></p>
                                    <p><a href="#" class="review">Cancel Order For this Product</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <!-- <script src="zoom/zoomsl.min.js"></script> -->
    <script src="app.js"></script>
</body>

</html>